# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# Virtualenv
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
*.log
ssh-key-manager.spec

# Hidden (配置文件除外)
.*
!.gitignore
!.github/
!.github/**
